.sliderMasculino{
    .slide{
        padding: 0;
        img{
            width: 100%;
        }
    }
}

.main{
    .titulo{
        @include titles($title-font, $title-color);
        text-align: center;
    }
    .texto-masculino{
        text-align: center;
        @include texts($text-font, $text-size, $text-color);
    }
}

.tendencias{
    @include bg-color($bg-contenedor2);
    .tendencias-img-principal{
        text-align: center;
        .img-principal{
            display: inline-block;
            height: 300px;
            width: 350px;
        }
    }
    .tendencias-imgs-secundarias{
        text-align: center;
        .imgs-secundarias{
            width:70px;
            height: 70px;
            opacity: .8;
            &:hover{
                opacity: 1;
                border: 3px solid rgba(gray, .3);
            }
        }
    }
}
