$bg-body: #557669;
$bg-header: #262322;
$bg-footer: #262322;
$bg-contenedor1:#FBF5F3;
$bg-contenedor2:#FBFAF8;
$text-secondary:('weddingBells', 'Dancing Script');
$title-font:('BackToBlack','Pacifico');
$title-color: #153243;
$text-font:('reallyAwesome','Poiret One');
$text-size: 14px;
$text-color: #262322;
$bg-grenadine:#E55A4A;
$bg-tawnyPort:#6F3B47;
$bg-balletSlipper:#F2D8DE;
$bg-butterum:#D1A17F;
$bg-navyPeony:#2F4D71;
$bg-shadedSpruced:#006B74; 
$bg-blueBell:#A5C4DF;
$bg-royalLilac:#8A669C;
$bg-autumnMaple:#D27831;
$bg-lemonCurry: #D6B042;
$bg-neutralGray:#A0A2A1;
$bg-goldenLime:#BDA65C;
$bg-btn:#153243;
$bg-btnHover:#DB504A;


