@mixin bg-color($color){
    background-color: $color;
}

@mixin titles($font, $color){
    font-family: $font;
    color:$color;
}

@mixin texts($font, $size, $color){
    font-family: $font;
    font-size: $size;
    color:$color;
}

body{
    @include bg-color($bg-body);
}

html{
    overflow-x: hidden;
}


