.slider-temporada{
    .slide{
        padding: 0;
        img{
            width: 100%;
        }
    }
}

.main-temporada{
    @include bg-color($bg-contenedor2);
    .acerca-de{
        .contenedor{
            overflow: visible;
            position: relative;
            .foto {
                width: 50%;
                position: absolute;
                float:right;
                top:-20px;
                z-index: 0;
                box-shadow: 0px 0px 15px rgba(0,0,0,.35);
                img {
                    vertical-align: top;
                    width: 100%;
                }
            }
        }
        article {
            @include bg-color($bg-contenedor1);
            padding: 20px;
            width: 50%;
            position: relative;
            top:100px;
            z-index: 1;
            float: right;
            box-shadow: 0px 0px 15px rgba(0,0,0,.35);
            h3 {
                @include titles($title-font, $title-color);
            }
            p{
                @include texts($text-font, $text-size, $text-color);
                text-align: justify;
            }
        }
    }

.colores{
    
    .titulo-colores{
        @include titles($title-font, $title-color);
    }
    .texto-colores{
        @include texts($text-font, $text-size, $text-color);
        text-align: justify
    }
}

.colores-muestras{
text-align: center;
    h4{
        font-family: $text-secondary;
        font-size: 14px;
       
        a{
            text-decoration: none;
            color: $bg-header;
            &:hover{
                color:$bg-neutralGray;
            } 
        }
    }
        .muestra{
            width: 50px;
            height: 50px;
            border-radius: 20%;
            display: inline-block;
        }
        .color-grenadine{
            background-color: $bg-grenadine;
        }
        .color-tawny{
            background-color:$bg-tawnyPort;
        }
        .color-ballet{
            background-color:$bg-balletSlipper;
        }
        .color-butterum{
            background-color:$bg-butterum;
        }
        .color-navy{
            background-color:$bg-navyPeony;
        }
        .color-shaded{
            background-color: $bg-shadedSpruced;
        }
        .color-blue{
            background-color:$bg-blueBell;
        }
        .color-royal{
            background-color: $bg-royalLilac;
        }
        .color-autumn{
            background-color:$bg-autumnMaple;
        }
        .color-lemon{
            background-color:$bg-lemonCurry;
        }
        .color-gray{
            background-color: $bg-neutralGray;
        }
        .color-golden{
            background-color:$bg-goldenLime;
        }
    }
    .modal-dialog{
        .modal-title{
            @include titles($title-font, $title-color);
        }
        .modal-body{
            h2{
                @include titles($title-font, $title-color);
            }
            img{
                width:60%;
            }
            p{
                @include texts($text-font, $text-size, $text-color);
                text-align: left;
            }
            h6{
                @include texts($text-font, $text-size, $text-color);
                text-align: right;
            }
        }
    }
}

