//header
.header{
    background-color:$bg-header;
    color: $bg-contenedor2;
    font-family: $text-secondary;;
    .logo{
        img{
            width: 60%;
        }
        
    }
}

.navegacion{
    ul{
        text-decoration: none;
        font-size: 18px;
        
        a{
        color: #fbfaf8;
        
        &:hover{
            background-color:rgba(#db504a, 0.6);
            transition: all .5s ease;
        }
        }
        .dropdown-menu{
            background-color: rgba(#db504a, 0.8);
        }
    }
    
}

.navegacion-movil{
margin-top: 14px;
    .fa-1x {
        font-size: 1.5rem;
    }
    .navbar-toggler.toggler {
        cursor: pointer;
    }
    .color-text {
        color:$bg-contenedor1;
    }
    
    
    .nav-link{
        text-align: center;
        color: #fff !important;
        &:hover{
            background-color:rgba($bg-grenadine, .4);
            transition: all .5s ease-in;
        }
    }

}

