@font-face{
    font-family: 'BackToBlack';
    src:url('../font/BackToBlack.woff');
}

@font-face{
    font-family: 'reallyAwesome';
    src:url('../font/reallyAwesome.woff');
}

@font-face{
    font-family: 'weddingBells';
    src:url('../font/weddingBells.woff');
}

